<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">
<head>
	<title>Nations Assistant refugee</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/reset.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'main/css/layout.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css" media="all">
	{% if LANGUAGE_CODE|language_bidi %}
		<link rel="stylesheet" href="{% static 'main/css/rtl.css' %}" type="text/css" media="all">
	{% endif %}
	<script type="text/javascript" src="{% static 'main/js/jquery-1.6.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/cufon-yui.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/cufon-replace.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/Vegur_700.font.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/Vegur_400.font.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/Vegur_300.font.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/tms-0.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/tms_presets.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/backgroundPosition.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/atooltip.jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="{% static 'main/js/html5.js' %}"></script>
	<style type="text/css">.box1 figure{behavior:url("js/PIE.htc");}</style>
	{% block custom_css %}{% endblock %}
	<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="main">
		{% block content %}{% endblock %}
	</div>
</div>
<!--<script type="text/javascript">Cufon.now();</script>-->
{% block custom_js %}{% endblock %}
</body>
</html>