{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- header -->
  <header>
    <div class="wrapper">
      {% include 'extras/brand.html' %}
      {% include 'menus/top_menu.html' %}
    </div>
  </header>
  <!-- / header -->
  <!-- content -->
  <article id="content">
    <div class="wrapper">
        <div class="box1">
          <div class="line1 wrapper">
            <section class="col1">
              <h2><strong>O</strong>ur<span>Address</span></h2>
              <strong class="address"> Country:<br>
              City:<br>
              Zip Code:<br>
              Telephone:<br>
              Fax:<br>
              E-Mail: </strong> Iran<br>
              Tehran<br>
              14199-8385<br>
              +98 21 22 33 88 16<br>
              +98 21 22 33 88 16<br>
              <a href="#">info@gmail.com</a> </section>
            <section class="col2 pad_left1">
              <h2 class="color2"><strong>M</strong>iscellaneous<span>info</span></h2>
              <p class="pad_bot1"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur. </section>
          </div>
        </div>
      </div>
  </article>
  <!-- / content -->
  <!-- footer -->
  {% include 'extras/footer.html' %}
  <!-- / footer -->
{% endblock %}
