{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- header -->
  <header>
    <div class="wrapper">
      {% include 'extras/brand.html' %}
      {% include 'menus/top_menu.html' %}
    </div>
    {% include 'extras/slider.html' %}
  </header>
  <!-- / header -->
  <!-- content -->
  <article id="content">
    {% include 'extras/featured_missions.html' %}

    {% include 'extras/missions_text.html' %}

    {% include 'extras/help_wrapper.html' %}

  </article>
  <!-- / content -->
  <!-- footer -->
  {% include 'extras/footer.html' %}
  <!-- / footer -->
{% endblock %}

{% block custom_js %}
  <script type="text/javascript">
  $(window).load(function () {
      $('.slider')._TMS({
          preset: 'zabor',
          easing: 'easeOutQuad',
          duration: 800,
          pagination: true,
          banners: true,
          waitBannerAnimation: false,
          slideshow: 6000,
          bannerShow: function (banner) {
              banner.css({
                  right: '-700px'
              }).stop().animate({
                  right: '0'
              }, 600, 'easeOutExpo')
          },
          bannerHide: function (banner) {
              banner.stop().animate({
                  right: '-700'
              }, 600, 'easeOutExpo')
          }
      })
      $('.pagination li').hover(function () {
          if (!$(this).hasClass('current')) {
              $(this).find('a').stop().animate({
                  backgroundPosition: '0 0'
              }, 600, 'easeOutExpo', function () {
                  $(this).parent().css({
                      backgroundPosition: '-20px 0'
                  })
              });
          }
      }, function () {
          if (!$(this).hasClass('current')) {
              $(this).css({
                  backgroundPosition: '0 0'
              }).find('a').stop().animate({
                  backgroundPosition: '-250px 0'
              }, 600, 'easeOutExpo');
          }
      })
  })
  </script>
{% endblock %}