{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- header -->
  <header>
    <div class="wrapper">
      {% include 'extras/brand.html' %}
      {% include 'menus/top_menu.html' %}
    </div>
  </header>
  <!-- / header -->
  <!-- content -->
  <article id="content">
    {% include 'extras/missions_list.html' %}

    {% include 'extras/missions_text.html' %}

    {% include 'extras/activities_banner.html' %}

  </article>
  <!-- / content -->
  <!-- footer -->
  {% include 'extras/footer.html' %}
  <!-- / footer -->
{% endblock %}
