.navbar-nav > li {
  float: right;
  direction: rtl;
}
.navbar-collapse > button {
  float: left;
}
.navbar-nav{
  float: right;
}
.manif{
  direction: rtl;
}
.dir-r{
  direction: rtl;
}
.rtl-flo{
  float: left;
}
.rtl-flo-r{
  float: right;
}
.name{
  padding-right: 70px;
  font-family: VazirB;
}
.phone{
  padding-left: 70px;
}
.rtl-pr-125{
  padding-right: 55px;
}
.rtl-pr-70{
  padding-right: 90px;
}
.flo-ri {
    float: left;
}
@media (max-width : 728px) {
  .rtl-pr-125{
    padding-right: 40px;
  }
  .name{
    padding-left: 5px;
  }
}
