@font-face {
  font-family: Vazir;
  src: url(../fonts/vazir/Vazir.ttf);
}
@font-face {
  font-family: VazirB;
  src: url(../fonts/vazir/Vazir-Bold.ttf);
}
@font-face {
  font-family: irsans;
  src: url(../fonts/iransans/IRANSans.ttf);
}
body {
	font-family:Vazir, irsans, sans-serif;
}
a:hover{
  text-decoration: none;
}
.img-feature{
  width: 90px;
  height: auto;
  margin-left: 20px;
}
.pad-10{
  padding: 10px;
}
.pad-25{
  padding: 25px 0;
}
.btn-feature{
  width: 49%;
  padding: 8px 0;
  border: none;
  border: 1px solid #fff;
}
.f-14{
  font-size: 14px;
}
.f-18{
  font-size: 18px;
}
.f-20{
  font-size: 20px;
}
.cl-white{
  color: #fff;
}
.bcl-pink{
  background-color: #db6193;
}
.bcl-purp{
  background-color: #800080;
}
.cl-gray-nav{
  color: #dad6cc;
}
.bcl-gray-nav{
  background-color: #eae7de;
}
.bcl-white{
  background: #fff;
}
.f-w-500{
  font-weight: 500;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
  background-color: #61d0db;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
  background-color: #61d0db;
  color: #fff;
}
/*****************************/
.slider{
  width: 90%;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px gray;
}
#img{
  width: 100%;
  height: 100%;
}
/****************************/
.bcl-gray-mis{
  background: #edebe7;
}
.bcl-gray-fo{
  background: #787670;
}
.mission-row{
  min-height: 200px;
  height: auto;
  padding: 5px 10px;
}
.pad-30{
  padding: 10px 30px;
}
.btn-more{
  color: #61d0db;
  font-size:16px;
  float: right;
}
.bcl-blue{
  background: #61d0db;
}
.cl-blue{
  color: #61d0db;
}
.pad-b-30{
  padding-bottom: 30px;
}
.pad-l-30{
  padding-left: 30px;
}
.mar-l-50{
  margin-left: 50px;
}
.btn-help{
  width: 100px;
  float: right;
  margin-right: 25px;
}
.option-wrapper{
  min-height: 100px;
  height: auto;
}
.mar-t-50{
  margin-top: 50px;
}
.mar-t-20{
  margin-top: 20px;
}
.footer-icon{
  color: white;
  background: none;
  float: left;
}
.name{
  font-size: 35px;
  color: #61d0db;
}
@media (max-width : 728px) {
  .name{
    font-size: 18px;
    padding-left: 5px;
  }
}
p{
  text-align: justify;
}
.f-16{
  font-size: 16px;
}
.manif{
  padding: 30px 50px;
  font-size: 18px;
  margin: 30px 0;
}
.hr-dark{
  border:none;
  border-top: 1px solid #787670;
}
.navbar-toggle{
  background-color: #787670;
  border: none;
}
.flo-ri{
  float: right;
}
.btn:hover{
  border: 1px solid #337ab7;
  background: #e7e7e7;
  color: #337ab7;
}
.bordl{
  border-left: 1px solid #333;
}
.bcl-contact{
  background: #cac8c6;
}
/* .carousel-indicators .active{
  background-color: #61d0db;
}
.carousel-indicators li{
  border: 1px solid #61d0db;
} */
.inner-slide1{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  padding: 1.5% 11%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
@media (max-width:768px) {
  .inner-slide1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    padding: 1.5% 5%;
  }
  .bcl-purp , .bcl-pink{
    font-size: 16px;
  }
}
.inner-slide1:hover{
  border: 1px solid #337ab7;
  background: #fff;
  color: #337ab7;
}
.one-n{
  padding: 10px;
  margin-bottom: 30px;
  min-height: 220px;
  height: auto;
}
.news-at{
  margin-top: 20px;
  width:100%;
  height:auto;
}
.pager li> a :hover{
  border: 1px solid #337ab7;
  background: #fff;
  color: #337ab7;
}
.phone{
  padding-left: 124px
}