.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	margin:0 6px;
	width:264px;
	position:relative
}
.col2 {
	margin:0 6px;
	width:560px;
	position:relative
}
/* index.html */
/* index-1.html */
/* index-2.html */
/* index-3.html */
/* index-4.html */
#page3 .col1 {
	width:870px
}
/* index-5.html */
.wide-width {
	width:870px
}
/* index-6.html */
