/* layout.css section */
.col1, .col2, .col3, .cols {
	float:right;
}


/* main.css section */
.body1 {
    direction:rtl;
}
h1 {
	float:right;
	padding:44px 35px 0 0
}
h3{
    float: right;
}
p {
    padding-right: 22px;
}
footer nav {
    float: right;
}
#footer_menu {
    float: right;
}
#footer_menu li {
    float: right;
    padding-right: 0px;
    padding-left: 29px;
    background: url(../images/menu_line.gif) right 0 no-repeat;
    margin-left: 29px;
    margin-right: 0px;
}
#top_nav {
	float:left;
	padding:57px 100px 0 0px
}
#menu {
	float:left;
}
#menu li {
	float:right;
}
.pagination {
	right:0;
}
.pic {
	float:left;
}
.button1 , .button2{
	float:left;
}
.quot {
	margin-top:17px;
	float:right;
	margin-left:94px;
	padding:12px 0 17px 41px;
	font-style:italic;
	background:url(../images/quot1.png) 0 0 no-repeat;
	width:570px
}
.tel{
    padding: 0 38px 0 0;
}
