<nav>
  <ul id="footer_menu">
    <li {% ifequal view_name 'home' %}class="active"{% endifequal %}><a href="{% url 'home_page' %}">Home</a></li>
    <li {% ifequal view_name 'missions' %}class="active"{% endifequal %}><a href="{% url 'missions_list' %}">Our Mission</a></li>
    <li><a href="#">News &amp; Press</a></li>
    <li {% ifequal view_name 'help' %}class="active"{% endifequal %}><a href="{% url 'help' %}">How to Help</a></li>
    <li {% ifequal view_name 'contact' %}class="active end"{% else %}class="end"{% endifequal %}><a href="{% url 'contacts' %}">Contact</a></li>
  </ul>
</nav>