{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as current_lang %}
<nav>
	<ul id="top_nav">
		<button class="btn-top btn-donate">Donate</button>
		<button class="btn-top btn-monthly">Monthly Supporters</button>
	</ul>
</nav>
<nav>
	<ul id="menu">

		<li {% ifequal view_name 'home' %}id="menu_active"{% endifequal %}><a href="{% url 'home_page' %}">Home</a></li>
		<li {% ifequal view_name 'missions' %}id="menu_active"{% endifequal %}><a href="{% url 'missions_list' %}">Our Missions</a></li>
		<li><a href="#">News &amp; Press</a></li>
		<li {% ifequal view_name 'help' %}id="menu_active"{% endifequal %}><a href="{% url 'help' %}">How to Help</a></li>
		<li {% ifequal view_name 'contact' %}id="menu_active"{% endifequal %}><a href="{% url 'contacts' %}">Contact</a></li>

		<form action='{% url "set_language" %}' method='POST'>{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			{% for lang in languages %}
				{% ifnotequal lang.code LANGUAGE_CODE %}
				<input type='hidden' name='language' value='{{lang.code}}'/>
				<button class='btn-language' type='submit' value='{{lang.code}}'>{{lang.name_local}} <i class="fa fa-globe" aria-hidden="true"></i></button>
				{% endifnotequal %}
			{% endfor %}
		</form>
	</ul>
</nav>