{% load i18n %}
<div class="row">
	<div class="col-sm-3 col-md-3"></div>
	<div class="col-12 col-sm-6 col-md-6 pad-25">
		<button class="btn btn-default btn-feature f-20 bcl-pink cl-white" type="submit">{%trans 'Donate' %}</button>
		<button class="btn btn-default btn-feature f-20 bcl-purp cl-white" type="submit">{%trans 'Monthly supporters' %}</button>
	</div>
	<div class="col-sm-3 col-md-3"></div>
</div>