{% load i18n %}
<div class="row mar-t-50">
	<div class="bcl-gray-fo " style="min-height:250px; height:auto; padding: 20px;">
		<a href="#" class="col-12 col-sm-6 col-md-6 name rtl-flo-r dir-r">{%trans 'NATIONS ASSISTANT REFUGEES' %}</a>
		<span class="col-12 col-sm-6 col-md-6 name phone rtl-flo" style="">+98 21 22338816</span>
		<ul class="col-12 col-sm-8 col-md-8 nav navbar-nav rtl-pr-125" style="">
			<li><a href="{% url 'home_page' %}" class="footer-icon">{%trans 'Home' %}</a></li>
			<li><a href="{% url 'missions_list' %}" class="footer-icon">{%trans 'Our missions' %}</a></li>
			<li><a href="#" class="footer-icon">{%trans 'New & Press' %}</a></li>
			<li><a href="{% url 'help' %}" class="footer-icon">{%trans 'How to help' %}</a></li>
			<li><a href="{% url 'contacts' %}" class="footer-icon">{%trans 'Contact' %}</a></li>
		</ul>
		<ul class="col-12 col-sm-4 col-md-4 nav navbar-nav rtl-pr-70" style="">
			<li><a href="#" class="footer-icon"><i class="fab fa-telegram fa-2x"></i></a></li>
			<li><a href="#" class="footer-icon"><i class="fab fa-twitter-square fa-2x"></i></a></li>
			<li><a href="#" class="footer-icon"><i class="fab fa-facebook-square fa-2x"></i></a></li>
			<li><a href="#" class="footer-icon"><i class="fab fa-linkedin fa-2x"></i></a></li>
		</ul>
		<br><br><br><br><br>
		<hr>
		<div>
			<p class="text-center">{% blocktrans %}Copyright © <a class="cl-blue" href="#">Nations Assistance Refugee</a> All Rights Reserved{% endblocktrans %}</p>
			<p class="text-center">{% blocktrans %}Developed by <a class="cl-blue" href="#">InProbes Analytics</a> team{% endblocktrans %}</p>
		</div>
	</div>
</div>