{% load i18n %}
<div class="row pad-b-30 dir-r">
	<div class="">
		<div class="col-12 col-sm4- col-md-4 mar-t-50 pad-l-30">
			<div class="option-wrapper">
				<h2>{% trans "Make Donation" %}</h2>
				<p>{% trans "Make donation and help us to make better life for refugees" %}</p>
			</div>
			<button class="btn btn-default bcl-blue btn-help rtl-flo">{% trans "DONATE" %}</button>
		</div>
		<div class="col-12 col-sm4- col-md-4 mar-t-50 bordl">
			<div class="option-wrapper">
				<h2>{% trans "Join Volunteer" %}</h2>
				<p>{% trans "Join us as a volunteer to help refugees around the world" %}</p>
			</div>
			<button class="btn btn-default bcl-blue btn-help rtl-flo">{% trans "JOIN" %}</button>
		</div>
		<div class="col-12 col-sm4- col-md-4 mar-t-50 bordl">
			<div class="option-wrapper">
				<h2>{% trans "Help Childrens" %}</h2>
				<p>{% trans "Help children around you and in your working space" %}</p>
			</div>
			<button class="btn btn-default bcl-blue btn-help rtl-flo">{% trans "HELP" %}</button>
		</div>
	</div>
</div>