{% load i18n %}
<div class="row bcl-gray-mis pad-b-30 dir-r">
	<div class="pad-30">
		<br>
		<h2 style="text-align:center;">{% trans "Our Missions" %}</h2>
		<hr class="hr-dark">
		{% for mission in missions %}
		<div class="col-12 col-sm-6 col-md-6">
			<div class="mission-row">
				<h3>{{mission.title}}</h3>
				<p>{{mission.body|truncatewords:90}}</p>
			</div>
			<a class="btn-more rtl-flo" href="#">{% trans "Read more" %}</a>
		</div>
		{% endfor %}
	</div>
</div>