{% load staticfiles %}
{% load i18n %}
<div class="row mar-t-50">
	<h2 style="text-align:center;">{% trans 'Lastest News' %}</h2>
	<div class="lastest-n">
		<div class="col-sm-6 col-md-6 col-12 inner-n">
			<div class="one-n bcl-gray-mis">
				<div class="col-3 col-sm-3 col-md-3 rtl-flo-r">
					<img src="{% static 'main/images/news.jpg' %}" alt="" class="responsive news-at">
				</div>
				<div class="col-9 col-sm-9 col-md-9 rtl-flo dir-r">
					<span><h3>Subject</h3><p class="f-14">12:19 Am, 2/8/2019</p></span>
					<p>lorem ipsum lorem ipsum lorem ipsm ipsum lorem ipsum lorem ipsum lorem
						ipsum lorem ipsum lorem ipsum
						ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
					</p>
					<a class="btn-more rtl-flo" href="#">{% trans "Read more" %}</a>
				</div>
			</div>
			<div class="one-n bcl-gray-mis">
				<div class="col-3 col-sm-3 col-md-3 rtl-flo-r">
					<img src="{% static 'main/images/news.jpg' %}" alt="" class="responsive news-at">
				</div>
				<div class="col-9 col-sm-9 col-md-9 rtl-flo dir-r">
					<span><h3>Subject</h3><p class="f-14">12:19 Am, 2/8/2019</p></span>
					<p>lorem ipsum lorem ipsum lorem ipsm ipsum lorem ipsum lorem ipsum lorem
						ipsum lorem ipsum lorem ipsum
						ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
					</p>
					<a class="btn-more rtl-flo" href="#">{% trans "Read more" %}</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-6 col-12 inner-n">
			<div class="one-n bcl-gray-mis">
				<div class="col-3 col-sm-3 col-md-3 rtl-flo-r">
					<img src="{% static 'main/images/news.jpg' %}" alt="" class="responsive news-at">
				</div>
				<div class="col-9 col-sm-9 col-md-9 rtl-flo dir-r">
					<span><h3>Subject</h3><p class="f-14">12:19 Am, 2/8/2019</p></span>
					<p>lorem ipsum lorem ipsum lorem ipsm ipsum lorem ipsum lorem ipsum lorem
						ipsum lorem ipsum lorem ipsum
						ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
					</p>
					<a class="btn-more rtl-flo" href="#">{% trans "Read more" %}</a>
				</div>
			</div>
			<div class="one-n bcl-gray-mis">
				<div class="col-3 col-sm-3 col-md-3 rtl-flo-r">
					<img src="{% static 'main/images/news.jpg' %}" alt="" class="responsive news-at">
				</div>
				<div class="col-9 col-sm-9 col-md-9 rtl-flo dir-r">
					<span><h3>Subject</h3><p class="f-14">12:19 Am, 2/8/2019</p></span>
					<p>lorem ipsum lorem ipsum lorem ipsm ipsum lorem ipsum lorem ipsum lorem
						ipsum lorem ipsum lorem ipsum
						ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
					</p>
					<a class="btn-more rtl-flo" href="#">{% trans "Read more" %}</a>
				</div>
			</div>
		</div>
	</div>
</div>