{% load staticfiles %}
{% load i18n %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Wrapper for carousel items -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="{% static 'main/images/photo1.jpg' %}" alt="First Slide">
			<a href="#" class="inner-slide1 bcl-blue">{% trans "Make Donation" %}</a>
		</div>
		<div class="item">
			<img src="{% static 'main/images/photo2.jpg' %}" alt="Second Slide">
			<a href="#" class="inner-slide1 bcl-blue">{% trans "Join Volunteer" %}</a>
		</div>
		<div class="item">
			<img src="{% static 'main/images/photo3.jpg' %}" alt="Third Slide">
			<a href="#" class="inner-slide1 bcl-blue">{% trans "Help Children" %}</a>
		</div>
	</div>
	<!-- Carousel controls -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>