{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="row">
	<div class="">
		<div class="col-xs-4 col-sm-4 col-md-4">
			<div class="top-nav">
				<img src="{% static 'main/images/logo.png' %}" alt="Nations Assistant Refugees" class="img-feature responsive">
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 pad-10">
			<nav class="navbar navbar-inverse bcl-white cl-gray-nav" style="border:none;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li {% ifequal view_name 'home' %}class="active f-w-500 f-18"{% endifequal %}><a href="{% url 'home_page' %}" class="f-w-500 f-18">{% trans "Home" %}</a></li>
							<li {% ifequal view_name 'missions' %}class="active f-w-500 f-18"{% endifequal %}><a href="{% url 'missions_list' %}" class="f-w-500 f-18">{% trans "Our missions" %}</a></li>
							<li {% ifequal view_name '' %}class="active f-w-500 f-18"{% endifequal %}><a href="#" class="f-w-500 f-18">{% trans "New & Press" %}</a></li>
							<li {% ifequal view_name 'help' %}class="active f-w-500 f-18"{% endifequal %}><a href="{% url 'help' %}" class="f-w-500 f-18">{% trans "How to help" %}</a></li>
							<li {% ifequal view_name 'contact' %}class="active f-w-500 f-18"{% endifequal %}><a href="{% url 'contacts' %}" class="f-w-500 f-18">{% trans "Contact" %}</a></li>
						</ul>
						<form action='{% url "set_language" %}' method='POST'>{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}"/>
							{% for lang in languages %}
								{% ifnotequal lang.code LANGUAGE_CODE %}
								<input type='hidden' name='language' value='{{lang.code}}'/>
								<button class='btn btn-danger navbar-btn flo-ri' type='submit' value='{{lang.code}}'>{{lang.name_local}} <i class="fa fa-globe" aria-hidden="true"></i></button>
								{% endifnotequal %}
							{% endfor %}
						</form>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>