<!--<div class="wrapper">-->
    <!--<div class="box2">-->
      <!--<div class="wrapper">-->
        <!--<section class="col1">-->
          <!--<ul class="list1">-->
            <!--<li><a href="#">Sed ut perspiciatis unde omnis</a></li>-->
            <!--<li class="color2"><a href="#">Iste natus error sit voluptatem accus</a></li>-->
            <!--<li class="color3"><a href="#">Antium doloremque totam remiam</a></li>-->
          <!--</ul>-->
        <!--</section>-->
        <!--<section class="col1 pad_left1">-->
          <!--<ul class="list1">-->
            <!--<li><a href="#">Eaque ipsa quae ab illo inventore</a></li>-->
            <!--<li class="color2"><a href="#">Veritatis et quasi architecto beatae</a></li>-->
            <!--<li class="color3"><a href="#">Dicta sunt explicabo enim ipsam</a></li>-->
          <!--</ul>-->
        <!--</section>-->
        <!--<section class="col1 pad_left1">-->
          <!--<ul class="list1">-->
            <!--<li><a href="#">Voluptatem quia voluptas sit</a></li>-->
            <!--<li class="color2"><a href="#">Aspernatur aut odit aut fugit sed quia</a></li>-->
            <!--<li class="color3"><a href="#">Consequuntur magni dolores eos</a></li>-->
          <!--</ul>-->
        <!--</section>-->
      <!--</div>-->
    <!--</div>-->



<div class="wrapper">
  <div class="box2">
    <div class="wrapper">
      <section class="col1">
        <ul class="list1">
          {% for activity in activities|slice:":3" %}
            <li><a href="#">{{activity.title|title}}</a></li>
          {% endfor %}
          <!--<li class="color2"><a href="#">Iste natus error sit voluptatem accus</a></li>-->
          <!--<li class="color3"><a href="#">Antium doloremque totam remiam</a></li>-->
        </ul>
      </section>
      <section class="col1 pad_left1">
        <ul class="list1">
          {% for activity in activities|slice:"3:6" %}
            <li><a href="#">{{activity.title|title}}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section class="col1 pad_left1">
        <ul class="list1">
          {% for activity in activities|slice:"6:9" %}
            <li><a href="#">{{activity.title|title}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</div>