<!-- Mission's section-->
<!--<div class="wrapper">-->
<!--<h3>Our misions</h3>-->
<!--<div class="box1">-->
  <!--<div class="line1">-->
    <!--<div class="line2 wrapper">-->
      <!--<section class="col1">-->
        <!--&lt;!&ndash;<h2><strong>T</strong>rue<span>Story 1</span></h2>&ndash;&gt;-->
        <!--<h2>Mission no 1</h2>-->
        <!--<div class="pad_bot1">-->
          <!--<figure><img src="images/page1_img1.jpg" alt=""></figure>-->
        <!--</div>-->
        <!--<div class="text-news">-->
           <!--Hope Center is one of free website tem- plates by TemplateMonster.com, opti- mized for 1024X768 res.-->
        <!--</div>-->
        <!--<a href="#" class="button1">Read More</a>-->
      <!--</section>-->
      <!--<section class="col1 pad_left1">-->
        <!--<h2 class="color2"><strong>T</strong>rue<span>Story 2</span></h2>-->
        <!--<div class="pad_bot1">-->
          <!--<figure><img src="images/page1_img2.jpg" alt=""></figure>-->
        <!--</div>-->
        <!--<div class="text-news">-->
          <!--This Hope Center Template goes with two packages – with PSD source files and without them.-->
        <!--</div>-->
        <!--<a href="#" class="button1 color2">Read More</a> </section>-->
      <!--<section class="col1 pad_left1">-->
        <!--<h2 class="color3"><strong>True</strong><span>Story 3</span></h2>-->
        <!--<div class="pad_bot1">-->
          <!--<figure><img src="images/page1_img3.jpg" alt=""></figure>-->
        <!--</div>-->
        <!--<div class="text-news">-->
          <!--This website template has several pages:<a href="index.html" class="link1">Home</a>,<a href="mission.html" class="link1">Our Mission</a>,<a href="news.html" class="link1">News and Press</a>,<a href="help.html" class="link1">How to Help</a>,<a href="contact.html" class="link1">Contact Us</a>.-->
        <!--</div>-->
        <!--<a href="#" class="button1 color3">Read More</a>-->
      <!--</section>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="wrapper">
    <h3>Our misions</h3>
    <div class="box1">
        <div class="line1">
            <div class="line2 wrapper">
                {% for mission in missions %}
                {% if forloop.first %}
                <section class="col1">
                {% else %}
                <section class="col1 pad_left1">
                {% endif%}
                <h2>ماموریت ما شماره ۱</h2>
                <!--<h2>{{mission.title|title}}</h2>-->
                <div class="pad_bot1">
                <figure><img src="images/page1_img1.jpg" alt=""></figure>
                </div>
                <div class="text-news">{{mission.body|truncatewords:30}}</div>
                <a href="#" class="button1">Read More</a>
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
</div>