{% load static %}
<footer>
  <div class="wrapper"> <a href="index.html" id="footer_logo"><span>Nations</span>Assistant<span>refugee</span></a>
    <div class="tel"><span>+98 21</span>22 33 88 16</div>
  </div>
  <div class="wrapper">
    {% include 'menus/bottom_menu.html' %}
    <ul id="icons">
      <li><a href="#" class="normaltip"><img src={% static "main/images/icon1.gif" %} alt=""></a></li>
      <li><a href="#" class="normaltip"><img src={% static "main/images/icon2.gif" %} alt=""></a></li>
      <li><a href="#" class="normaltip"><img src={% static "main/images/icon3.gif" %} alt=""></a></li>
    </ul>
  </div>
  <div id="footer_text">Copyright &copy; <a href="#">Nations Assistance Refugee</a> All Rights Reserved<br>
    Developed by <a target="_blank" href="http://www.inprobes.com/">InProbes Analytics</a> team</div>
</footer>