<div class="wrapper">
    <div class="box2">
      <div class="line1">
        <div class="line2 wrapper">
          <section class="col1">
            <h4><span>Make Donation</span></h4>
                <!--<p class="pad_bot2"><strong>Ned ut perspiciatis unde omnis</strong></p>-->
            <p>Make donation and help us to make better life for refugees</p>
            <a href="#" class="button2">Donate</a> </section>
          <section class="col1 pad_left1">
            <h4 class="color2"><span>Join Volunteer</span></h4>
            <!-- <p class="pad_bot2"><strong>At veroeos et accusamus etiusto</strong></p> -->
            <p>Join us as a volunteer to help refugees around the world</p>
            <a href="#" class="button2 color2">Join</a> </section>
          <section class="col1 pad_left1">
            <h4 class="color3"><span>Help children</span></h4>
            <p>Help children around you and in your working space</p>
            <a href="#" class="button2 color3">Help</a> </section>
        </div>
      </div>
    </div>
</div>