<div class="box1">
  <div class="line1">
    <div class="line2 wrapper">
      <section class="col1">
        <h2><strong>H</strong>ope</h2>
        <div class="pad_bot1">
          <figure><img src="images/page2_img1.jpg" alt=""></figure>
        </div>
        Hope Center is one of free website tem- plates by TemplateMonster.com, opti- mized for 1024X768 res. <a href="#" class="button1">Read More</a> </section>
      <section class="col1 pad_left1">
        <h2 class="color2"><strong>B</strong>elief</h2>
        <div class="pad_bot1">
          <figure><img src="images/page2_img2.jpg" alt=""></figure>
        </div>
        This Hope Center Template goes with two packages – with PSD source files and without them.<a href="#" class="button1 color2">Read More</a> </section>
      <section class="col1 pad_left1">
        <h2 class="color3"><strong>H</strong>elp</h2>
        <div class="pad_bot1">
          <figure><img src="images/page2_img3.jpg" alt=""></figure>
        </div>
        This website template has several pages:<a href="index.html" class="link1">Home</a>,<a href="mission.html" class="link1">Our Mission</a>,<a href="news.html" class="link1">News and Press</a>,<a href="help.html" class="link1">How to Help</a>,<a href="contact.html" class="link1">Contact Us</a>.<a href="#" class="button1 color3">Read More</a> </section>
    </div>
  </div>
</div>