<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html>
<head>
	<title>{{title|default:"Nations Assistant Refugees"}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	{% if LANGUAGE_BIDI %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/rtl.css' %}">
	{% endif %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	{% include "widgets/top_menu.html" %}
	{% include "widgets/donate_widget.html" %}
	{% block content %}{% endblock %}
	{% include "widgets/footer.html" %}
</div>
</body>
</html>