{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="row dir-r">
	<div class="col-xs-12 col-sm-4 col-md-4 bcl-contact pad-l-30 rtl-flo-r" style="min-height:250px; height:auto;">
		<h2 class="cl-blue">{% trans "Our Address" %}</h2>
		<p>{% trans "Country" %}:<span style="font-weight:bold;"> {% trans "Iran" %}</span></p>
		<p>{% trans "City" %}:<span style="font-weight:bold;"> {% trans "Tehran" %}</span></p>
		<p>{% trans "Zip-Code" %}:<span style="font-weight:bold;"> 14199-8385</span></p>
		<p>{% trans "Telephone" %}:<span style="font-weight:bold;"> +98 21 22 33 88 16</span></p>
		<p>{% trans "Fax" %}:<span style="font-weight:bold;"> +98 21 22 33 88 16</span></p>
		<p>{% trans "E-Mail" %}:<span style="font-weight:bold;"> info@gmail.com</span></p>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 bcl-gray-mis pad-l-30" style="min-height:250px; height:auto; line-height:25px;">
		<h2 class="cl-blue">{% trans "Miscellaneous Info" %}</h2>
		<p>{% blocktrans %} "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
			totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
			dicta sunt explicabo.

			Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
			magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
			ipsum quia dolor sit amet, consectetur.{% endblocktrans %}</p>
	</div>
</div>
{% endblock%}
